@model IEnumerable<OnlineCatalog.Web.Main.Models.Groups.ShopViewModel>

@{
    ViewBag.Title = "System shops";
//    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2>System shops</h2>

<table class="table">
    @foreach (var shop in Model)
    {
        <tr>
            <td class="hidden">@shop.ShopGuid</td>
            <td>@shop.ShopName
            <td class="col-lg-offset-3">
                @if (shop.IsActive)
                {
                    <input type="button" value="Deactivate" class="btn-danger" onclick="@("window.location.href='" + @Url.Action("DeactivateShop", "Shop", new {shopGuid = shop.ShopGuid}) + "'");" />

                }
                else
                {
                    <input type="button" value="Activate" class="btn-default" onclick="@("window.location.href='" + @Url.Action("ActivateShop", "Shop",  new {shopGuid = shop.ShopGuid}) + "'");" />
                }
            </td>
            <td class="col-lg-offset-3">
                <input type="button" value="Edit" class="btn-default" onclick="@("window.location.href='" + @Url.Action("EditShop", "Shop",  new {shopGuid = shop.ShopGuid}) + "'");"/>
            </td>
        </tr>
    }
</table>
    <div>
        @Html.ActionLink("Add new shop", "AddShop")
    </div>
</body>

